.container {
    display: flex;
    flex-direction: column;
}

header {
    flex: 1;
    width: 100%;
    height: 50px;
    background-color: rgb(90, 34, 143);
}

#welcome-message {
    float: right;
    color: #fff;
    margin-right: 20px;
    line-height: 50px;
}

section{
    display: flex;
    min-height: calc(100vh - 100px);
}

nav {
    background-color: #eee;
    flex-grow: 1;
    justify-content: space-between;
    padding: 1rem;
}

main {
    padding: 1rem;
    flex-grow: 11;
    height: 500px;
}

footer {
    background-color: #eee;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    text-align: center;
}

footer p {
    line-height: 50px;
}

#main-menu li { 
    margin-bottom: 10px;
}

#main-menu li a {
    color: rgb(90, 34, 143);
    display: block;
}

#main-menu li a:hover {
    text-decoration: underline;
    color: rgb(97, 124, 23);
}

main .title {
    font-family: 'Lato', sans-serif;
    color:rgb(90, 34, 143);
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(233, 224, 243);
}

/** FORMS **/
/** Forms **/
form.form {
    width: 80%;
    margin: 3rem auto;
}

form .group-fields {
    margin: 1.5rem 0
}

form.form label {
    display: block;
    font-weight: bold;
    margin-bottom: .5rem;
}

form.form input[type="text"], form.form input[type="email"], form.form input[type="password"] {
    border:1px solid rgb(233, 224, 243);
    padding: 5px;
    width: 100%;
}

form.form button.success {
    background-color: rgb(90, 34, 143);
    border: none;
    color:rgb(233, 224, 243);
    padding: .5rem 1rem;
    cursor: pointer;
}

form.form button.success:hover {
    background-color: rgb(123, 0, 255);
}

form.form button.cancel {
    background-color: rgb(233, 224, 243);
    border: none;
    color:rgb(90, 34, 143);
    padding: .5rem 1rem;
    cursor: pointer;
}

form.form button.cancel:hover {
    background-color: rgb(204, 188, 223);
}

