/** Forms **/
form.form {
    width: 80%;
    margin: 3rem auto;
}

form .group-fields {
    margin: 1.5rem 0
}

form.form label {
    display: block;
    font-weight: bold;
    margin-bottom: .5rem;
}

form.form input[type="text"] {
    border:1px solid rgb(233, 224, 243);
    padding: 5px;
    width: 100%;
}

form.form button.success {
    background-color: rgb(90, 34, 143);
    border: none;
    color:rgb(233, 224, 243);
    padding: .5rem 1rem;
    cursor: pointer;
}

form.form button.success:hover {
    background-color: rgb(123, 0, 255);
}

form.form button.cancel {
    background-color: rgb(233, 224, 243);
    border: none;
    color:rgb(90, 34, 143);
    padding: .5rem 1rem;
    cursor: pointer;
}

form.form button.cancel:hover {
    background-color: rgb(204, 188, 223);
}

